apiVersion: v1
kind: ConfigMap
metadata:
  name: dovecot-config
  namespace: mail-system
data:
  dovecot.conf: |
    protocols = imap lmtp
    listen = *
    base_dir = /var/run/dovecot
    passdb {
      driver = sql
      args = /etc/dovecot/dovecot-sql.conf.ext
    }
    userdb {
      driver = sql
      args = /etc/dovecot/dovecot-sql.conf.ext
    }
    service imap-login {
      inet_listener imap { port = 0 }
      inet_listener imaps { port = 993 }
    }
    service lmtp {
      unix_listener dovecot-lmtp {
        mode = 0600
        user = postfix
        group = postfix
      }
    }
    service auth {
      unix_listener auth-userdb { mode = 0600 user = postfix group = postfix }
      unix_listener /var/spool/postfix/private/auth { mode = 0660 user = postfix group = postfix }
    }
    auth_mechanisms = plain login
    mail_location = maildir:/var/mail/vhosts/%d/%n
    namespace inbox { inbox = yes }
    ssl = required
    ssl_cert = </etc/ssl/certs/mail.crt
    ssl_key = </etc/ssl/private/mail.key
  dovecot-sql.conf.ext: |
    driver = mysql
    connect = host=mail-mysql.mail-system.svc.cluster.local dbname=mail user=mail password=changeme
    default_pass_scheme = SHA512-CRYPT
    password_query = SELECT email as user, password FROM virtual_users WHERE email='%u'
    user_query = SELECT CONCAT('/var/mail/vhosts/', SUBSTRING_INDEX(email,'@',-1), '/', SUBSTRING_INDEX(email,'@',1)) as home, 5000 AS uid, 5000 AS gid FROM virtual_users WHERE email='%u'
