# One-time Job to apply mail MySQL schema. Run after mail-mysql is ready.
# ConfigMap mail-schema must be created from k8s/mail/mysql-schema.sql
apiVersion: batch/v1
kind: Job
metadata:
  name: mail-mysql-schema-init
  namespace: mail-system
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: init
          image: mysql:8.0
          command:
            - sh
            - -c
            - |
              mysql -h mail-mysql.mail-system.svc.cluster.local -u root -p$MYSQL_ROOT_PASSWORD < /schema/mysql-schema.sql
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mail-mysql
                  key: MYSQL_ROOT_PASSWORD
          volumeMounts:
            - name: schema
              mountPath: /schema
      volumes:
        - name: schema
          configMap:
            name: mail-schema
