apiVersion: v1
kind: ConfigMap
metadata:
  name: powerdns-config
  namespace: dns-system
data:
  pdns.conf: |
    launch=gpgsql
    gpgsql-host=powerdns-pg.dns-system.svc.cluster.local
    gpgsql-port=5432
    gpgsql-dbname=powerdns
    gpgsql-user=powerdns
    gpgsql-password=powerdns
    gpgsql-dnssec=off
    api=yes
    api-key=changeme-apikey
    webserver=yes
    webserver-address=0.0.0.0
    webserver-port=8081
    webserver-allow-from=0.0.0.0/0
    default-soa-name=ns1.example.com
    default-ttl=3600
    # Allow zone creation from API
    allow-axfr-ips=
    disable-axfr=yes
